<div [routerLink]="['/events', event.id]" class="well hoverwell thumbnail">
  <h2 class="eventName">{{ event?.name | uppercase }}</h2>
  <div>Date: {{ event?.date | date: "d/M/y" }}</div>
  <div [ngClass]="getStartTimeClass()" [ngSwitch]="event?.time">
    Time: {{ event?.time }}
    <span *ngSwitchCase="'8:00 am'"> (Early Start) </span>
    <span *ngSwitchCase="'10:00 am'">(Late Start)</span>
    <span *ngSwitchDefault>(Normal Start)</span>
  </div>

  <!-- in the future currency pipe can recieve its format dynamically -->
  <div>Price: {{ event?.price | currency: "USD" }}</div>

  <div [hidden]="!event?.location" class="someClass">
    <span> Location: {{ event?.location?.address }}</span>
    <span>&nbsp;</span>
    <span>
      City: {{ event?.location?.city }}, Country:
      {{ event?.location?.country }}</span
    >
  </div>
  <div *ngIf="event?.onlineUrl">Online Url: {{ event?.onlineUrl }}</div>
  <button
    type="button"
    (click)="handleClickMe()"
    class="btn btn-success"
    data-cy="eventDetails"
  >
    More Infos
  </button>
</div>
